@font-face {
  font-family: "TT Lakes Regular";
  src: url(/fonts/TTLakes/TTLakes-Regular.ttf);
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(/fonts/TTLakes/TTLakes-Medium.ttf);
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(/fonts/TTLakes/TTLakes-Bold.ttf);
}

::-webkit-scrollbar {
  width: 0;
}


body {
  margin: 0;
  padding: 0;
}

button {
  text-decoration: none;
  border: 0;
  padding: 0;
  background: transparent;
}
/* Блок nav */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  width: 320px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;


  list-style-type: none;


}
.nav::after {
  content: "";
  position: fixed;
  top: 0;
  left: 320px;
  width: 40px;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(221, 221, 221),
    rgba(240, 240, 240, 0)
  );
  pointer-events: none;
  z-index: 1;
}

.nav__header {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 0 20px;
  box-sizing: border-box;
}

.nav__button {
  -webkit-transition: 1s ease;
}

.nav__button:hover {
  transform: scale(120%);
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.nav__button--menu {
  height: 40px;
  width: 40px;
  background: url("/icon/X.svg") no-repeat;
}

.nav__button--logo {
  height: 51px;
  width: 97px;
  margin-right: auto;
  background: url("/icon/logo.svg"), no-repeat;
}

.nav__button--search {
  height: 40px;
  width: 40px;
  background: url("/icon/search.svg") no-repeat;
}

.nav__list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 80vh;
  gap: 2%;
  overflow: scroll;
}



.nav__link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.nav__list--item {
    position: relative;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
    list-style: none;
    font-family: "TT Lakes Medium";
    line-height: 24px;
    color: #1b1c21;
    transition: opacity 0.3s ease;
   
}

.nav__list--item:before {
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    height: 50px;
    left: -50px;
    background-image: url(/icon/highlight.svg); 
    background-repeat: no-repeat;
    background-size: 80%;
    opacity: 0; 
    transition: left 0.7s ease, opacity 0.7s ease; 
    z-index: 1;
    transition: transform 0.5s;
}

.nav__list--item:hover {
    opacity: 70%;
}

.nav__list--item:hover::before {
    left: -10px; 
    opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  gap: 10px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.footer__button{
    transition: transform 0.5s;
}

.footer__button:hover {
    transform: scale(110%);
}

.footer__button-mob {
  height: 40px;
  width: 40px;
  background: url("/icon/call.svg") no-repeat;
}

.footer__button-mes {
  height: 40px;
  width: 40px;
  background: url("/icon/chat.svg") no-repeat;
}

.footer__button-cont {
  height: 40px;
  width: 40px;
  background: url("/icon/profile.svg") no-repeat;
}

.footer__contact {
}
.footer__contact-mail {
  text-decoration: none;
  color: #333;
  font-family: "TT Lakes Regular";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}

.footer__contact-namb {
  text-decoration: none;
  color: #333;
  font-family: "TT Lakes Bold";
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}

.footer__contact-namb:hover {
  transform: scale(110%);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.52, 0, 0.93, 0.83);
}
.footer__lang {
  display: flex;
}

.footer__lang-link {
  text-decoration: none;
  color: #1b1c21;
  font-size: 24px;
  margin-right: 10px;
}

.footer__lang-link:active {
  color: #7e7e82;
}

.footer__lang-link:hover {
 color:#7e7e82;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
