@font-face {
  font-family: "TT Lakes Regular";
  src: url(/fonts/TTLakes/TTLakes-Regular.ttf);
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(/fonts/TTLakes/TTLakes-Medium.ttf);
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(/fonts/TTLakes/TTLakes-Bold.ttf);
}


button {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header {
  height: 88px;
  width: 100%;
  border-bottom: 1px solid #d9fff5;
}

.header__nav {
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.round-icon {
  border: initial;
  width: 40px;
  height: 40px;
  max-width: 100%;
}
.round-icon--burger {
  background: url(/icon/burger.svg) no-repeat center;
}
.round-icon--divider {
  background: url(/icon/divider.svg) no-repeat center;
  width: 2px;
}

.round-icon--call {
  background: url(/icon/call.svg) no-repeat center;

}
.round-icon--chat {
  background: url(/icon/chat.svg) no-repeat center;

}
.round-icon--profile {
  background: url(/icon/profile.svg) no-repeat center;

}

.round-icon--repair {
  background: url(/icon/repair.svg) no-repeat center;

}
.round-icon-checkstatus {
  background: url(/icon/checkstatus.svg) no-repeat center;

}

.round-icon--repair {
  background: url(/icon/repair.svg) no-repeat center;
}
.round-icon--checkstatus {
  background: url(/icon/checkstatus.svg) no-repeat center;
}


.main__button-icon {
  background: inherit;
  border: initial;
}

.header_button_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.header__button-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.main {
  overflow: hidden;
  padding-top: 0;
  background-color: #f8f8f8;
  width: 100%;
  height: 509px;
}

.main__button-high {
  display: none;
}

.main__title {
  padding: 24px 5px;
  padding-left: 16px;
  margin: 0;
  font-size: 29px;
  font-family: "TT Lakes Bold";
  position: relative;
}

.main__title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  left: -0.5px;
  background-image: url(/icon/highlight.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__roll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding-top: 10px;
  position: relative;
}

.main__roll::-webkit-scrollbar {
  width: 0;
}

.main__roll::after,
.main__roll::before {
  content: "";
  position: fixed;
  width: 40px;
  height: 60px;
  pointer-events: none;
  z-index: 1;
}

.main__roll::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, 1),
    rgba(248, 248, 248, 0)
  );
  top: 185px;
  bottom: 0;
}

.main__roll::after {
  right: 0;
  top: 185px;
  bottom: 0;
  background: linear-gradient(
    to left,
    rgba(248, 248, 248, 1),
    rgba(248, 248, 248, 0)
  );
}

.main__roll-buttons {
  font-size: 16px;
  font-family: "TT Lakes Medium";
  color: #7e7e82;
  list-style-type: none;
  padding: 10px;
  padding-left: 16px;
  margin: 0;
  background: inherit;
  border: initial;
}

.main__roll-button {
  font-size: 16px;
  font-family: "TT Lakes Medium";
  color: #7e7e82;
  list-style-type: none;
  padding: 10px;
  padding-left: 16px;
  margin: 0;
  background: inherit;
  border: initial;
}

li {
  display: inline-block;
}

.main__roll-button--active {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 5px;
}

.main__content {
  margin-right: 16px;
  margin-left: 16px;
}

.main__content-text {
  width: 288px;
  height: 95px;
  overflow: hidden;
  font-size: 14px;
  font-family: "TT Lakes Medium";
  text-align: left;
}

.main__content-button {
  display: block;
  font-family: "TT Lakes Medium";
  padding-left: 20px;
  border: 0;
  background-color: #f8f8f8;
  position: relative;
  text-decoration: none;
}

.main__content-button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(/icon/main-botton.svg);
  background-repeat: no-repeat;
  top: 4px;
  left: 3px;
}

.main__content-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__content-img {
  padding-top: 10px;
  width: 320px;
  height: auto;
}

@media (max-width: 321px) {
  .main__roll {
    width: 100%;
  }

  .header__button-icon--m-size {
    display: none;
  }

  .header__nav {
    padding: 0 20px;
  }

  .header__button-right {
    min-width: 90px;
    gap: 10px;
  }

  .header_button_left {
    width: 150px;
    gap: 10px;
  }

  .header__nav {
    justify-content: flex-start;
  }

  .round-icon--divider {
    margin-right: auto;
    margin-left: 10px;
  }
}

@media (min-width: 321px) and (max-width: 769px) {
  .header {
  width: 100vw;
  }

  .header__nav {
    justify-content: space-between;
    padding: 0 20px;
  }



  .main__roll {
    width: 100%;
  }
  .main {
    width: 100%;
    max-width: 768px;
  }

  .main__content {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 208px;
    justify-content: flex-start;
    padding-top: 30px;
  }

  .main__content-img {
    padding-top: 0px;
    height: auto;
    width: 50%;
    margin-right: 30px;
  }

  .main__content-text {
    width: auto;
    height: 115px;
    display: flex;
    white-space: pre-line;
  }
}

@media (min-width: 769px) {
  body {
    display: flex;
    justify-content: center;
  }

  .header {
    display: none;
  }

  .main {
    width: 100%;
    max-width: 1120px;
  }

  .main__roll {
    overflow: hidden;
    white-space: wrap;
    width: 100%;
  }

  .main__roll-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 3;
    gap: 5px;
    min-width: 70px;
  }

  .main__header-high {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main__button-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-right: 20px;
    font-family: "TT Lakes Medium";
    background: inherit;
    border: initial;
  }
  .main__button-high {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-right: 20px;
  }

  .main__content {
    width: 100%;
    display: flex;
    height: 50%;
    gap: 10px;
  }

  .main__content-img {
    padding-top: 0px;
    border-radius: 7px;
    height: auto;
    width: 531.35px;
    margin-right: 30px;
  }

  .main__content-text {
    max-width: 100%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    white-space: pre-line;

    justify-content: flex-start;
  }

  .main__content-div {
    width: 50%;
    justify-content: flex-start;
  }
}
