body {
  margin: 0;
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header {
  height: 88px;

  border-bottom: 1px solid #d9fff5;
}

.header__nav {
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .header__button-icon {
  background: inherit;
  border: initial;
} */

.header__button-icon-1, .header__button-icon-2
  ,.header__button-icon-3
  ,.header__button-icon-4
  ,.header__button-icon-5
  ,.header__button-icon-6
  ,.header__button-icon-7
  ,.header__button-icon-8
  ,.header__button-icon-9
   {
    border: initial;
}
.header__button-icon-1 {
  background: url(/icon/burger.svg) no-repeat center;
  width: 40px;
  height: 40px;
 
}
.header__button-icon-2 {
  background: url(/icon/divider.svg) no-repeat center;
  width: 40px;
  height: 40px;
}

.header__button-icon-4 {
  background: url(/icon/call.svg) no-repeat center;
  width: 40px;
  height: 40px;
}
.header__button-icon-5 {
  background: url(/icon/chat.svg) no-repeat center;
  width: 40px;
  height: 40px;
}
.header__button-icon-6 {
  background: url(/icon/profile.svg) no-repeat center;
  width: 40px;
  height: 40px;
}
.header__button-icon-7 {
  background: url(/icon/divider.svg) no-repeat center;
  width: 40px;
  height: 40px;
}
.header__button-icon-8 {
  background: url(/icon/repair.svg) no-repeat center;
  width: 40px;
  height: 40px;
}
.header__button-icon-9 {
  background: url(/icon/checkstatus.svg) no-repeat center;
  width: 40px;
  height: 40px;
}

.main__button-icon {
  background: inherit;
  border: initial;
}

.header_button_left {
  display: flex;
  align-items: center;

  gap: 10px;
}

.header__button-right {
  display: flex;
  align-items: center;

  gap: 20px;
}

.main {
  overflow: hidden;
  padding-top: 0;
  background-color: #f8f8f8;
  width: 320px;
  height: 509px;
}

.main__button-high {
  display: none;
}

.main__title {
  padding: 24px 5px;
  padding-left: 16px;
  margin: 0;
  font-size: 29px;
  font-family: "TT Lakes Bold";
  position: relative;
}

.main__title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  left: -0.5px;
  background-image: url(/icon/highlight.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__roll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding-top: 10px;
}

.main__roll::-webkit-scrollbar {
  width: 0;
}

.main__roll-buttons {
  font-size: 16px;
  font-family: "TT Lakes Medium";
  color: #7e7e82;
  list-style-type: none;
  padding: 10px;
  padding-left: 16px;
  margin: 0;
  background: inherit;
  border: initial;
}

.main__roll-button {
  font-size: 16px;
  font-family: "TT Lakes Medium";
  color: #7e7e82;
  list-style-type: none;
  padding: 10px;
  padding-left: 16px;
  margin: 0;
  background: inherit;
  border: initial;
}

.main__roll-buttons li {
  display: inline-block;
}

.main__roll-buttons a {
  text-decoration: none;
}

.menu a:hover {
  background-color: #b8ffec;
}

.main__roll-button--active {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 5px;
}

.main__content {
  margin-right: 16px;
  margin-left: 16px;
}

.main__content-text {
  width: 288px;
  height: 95px;
  overflow: hidden;
  font-size: 14px;
  font-family: "TT Lakes Medium";
  text-align: left;
}

.main__content-button {
  font-family: "TT Lakes Medium";
  padding-left: 20px;
  border: 0;
  background-color: #f8f8f8;
  position: relative;
  text-decoration: none;
}

.main__content-button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(/icon/main-botton.svg);
  background-repeat: no-repeat;
  top: 4px;
  left: 3px;
}

.main__content-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__content-img {
  padding-top: 10px;
  width: 320px;
  height: auto;
}

@media (max-width: 320px) {
  .header {
    width: 320px;
  }
  .main__roll {
    width: 100%;
  }

  .header__button-icon--m-size {
    display: none;




  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header {
    width: 768px;
  }

  .header__nav {
    justify-content: space-between;
    margin: 0 20px;
  }

  .header_button_left {
    gap: 20px;
  }

  .main__roll {
    width: 100%;
  }
  .main {
    width: 784px;
  }

  .main__content {
    display: flex;
    gap: 10px;
    width: 720px;
    height: 208px;
    gap: 10px;
    justify-content: flex-start;
    padding-top: 30px;
  }

  .main__content-img {
    width: 360px;
    height: auto;
    flex-grow: 1fr;
    padding-top: 0;
  }

  .main__content-text {
    width: auto;
    height: 115px;
    display:flex;
    white-space: pre-line;
  }
}

@media (min-width: 768px) {
  .header {
    display: none;
  }
  .main {
    width: 1120px;
    margin: 0 auto;
  }

  .main__roll {
    display: block;
    overflow: hidden;

    width: 100%;
  }

  .main__roll-button {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .main__header-high {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main__button-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-right: 20px;
    font-family: "TT Lakes Medium";
    background: inherit;
    border: initial;
  }
  .main__button-high {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-right: 20px;
  }

  .main__content {
    width: 100%;
    display: flex;
    height: 50%;
    gap: 10px;
  }

  .main__content-img {
    padding-top: 0px;
    border-radius: 7px;
    height: auto;
    width: 531.35px;
    margin-right: 30px;
  }

  .main__content-text {
    width: 490px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    white-space: pre-line;

    justify-content: flex-start;
  }

  .main__content-div {
    width: 50%;
    justify-content: flex-start;
  }
}

@font-face {
  font-family: "TT Lakes Regular";
  src: url(/fonts/TTLakes/TTLakes-Regular.ttf);
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(/fonts/TTLakes/TTLakes-Medium.ttf);
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url(/fonts/TTLakes/TTLakes-Bold.ttf);
}
